# API
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
STORAGE_DIR=./storage

# DB
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/homeledger

# Telegram
TELEGRAM_BOT_TOKEN='8456729175:AAHs3Ut5mKgb9Cpht6n3lFzPtTh5lN_UUM8'
BACKEND_BASE_URL=http://localhost:8000
BACKEND_API_KEY=dev-key

# Seguridad simple (MVP)
API_KEY=dev-key
